#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'FigtreeVF', sans-serif !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.registration-form-container {
  padding: 4rem;
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 1em;
  width: 50vw;
  visibility: show;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.registration-form-container.hide {
  transform: translateX(100%);
  opacity: 0;
  top: 0;
  position: absolute;
  display: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.react-datepicker-wrapper {
  display: block !important;
}

@media screen and (max-width: 1024px) {
  .registration-form-container {
    width: 90vw;
  }
}




.thank-you-message {
  opacity: 0 !important;
  position: absolute;

  transform: translateX(-100%);
  transition: left 0.5s ease, opacity 0.5s ease,
}

.thank-you-message.show {
  position: relative;
  font-size: 4rem;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 1em;
  padding: 4rem;
  transform: translateX(0);
  opacity: 1 !important;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.input-error {
  border: 1px solid red;
  background-color: #ffe6e6;
}